//- Variables
- var header_menu_active = "О нас";
- var pagetitle = "О нас и нашем интернет-магазине";
- var subtitle = "Немного о нас";

doctype html
html(lang="ru")
	head
		include ../partials/common/head.pug
	body
		include ../partials/common/header.pug

		#information-information
			.page-heading.gray-theme
				.container_fix.text-center
					ul.breadcrumb
						li: a(href=base_url) #{home_title}
						li: span #{header_menu_active}
					h1.color-black #{pagetitle}
			//- Content
			#content.about_content
				.page-introtext.text-center
					.container-xs
						h2.color-black #{subtitle}
						p: b.
							Добро пожаловать в специализированный интернет-магазин кальянов. Вы 
							уже давно не представляете своей жизни без кальяна или хотите купить 
							кальян для подарка, тогда вы обратились точно по адресу.
				section.s-info-slider
					.page-wrapper
						.swiper-container.info-swiper-container
							.swiper-wrapper
								.swiper-slide: img.img-responsive(src="src/image/about/slide_1.jpg" alt=header_menu_active)/
								.swiper-slide: img.img-responsive(src="src/image/about/slide_1.jpg" alt=header_menu_active)/
								.swiper-slide: img.img-responsive(src="src/image/about/slide_1.jpg" alt=header_menu_active)/
								.swiper-slide: img.img-responsive(src="src/image/about/slide_1.jpg" alt=header_menu_active)/
								.swiper-slide: img.img-responsive(src="src/image/about/slide_1.jpg" alt=header_menu_active)/
								.swiper-slide: img.img-responsive(src="src/image/about/slide_1.jpg" alt=header_menu_active)/

							.swiper-button-next
							.swiper-button-prev

				.page-content
					.container-xs
						p.
							В нашем специализированном интернет-магазине, Вы найдете кальян, 
							который будет удовлетворять все Ваши желания! 
						p.
							В разделе «Кальяны» представлен огромный выбор приборов для курения из 
							разных уголков мира (Сирия, Египет, Китай, Ливан), от самых маленьких и 
							дешевых, до дорогих и изысканных. 
						p.
							В нашем ассортименте есть всемирно известные бренды среди кальянов 
							Ager, Elg, Mya, Фараон. Мы продаем товар только после тщательной проверки, 
							поэтому в качестве продукции сомневаться не приходится. К слову, наши 
							кальяны стоят уже не в одном заведении городов России и зарубежья, мы 
							довольно часто работаем с кальян-барами. 
						h2.color-black Что еще у нас можно приобрести
						p.
							Кроме большого выбора кальянов, мы предлагает вашему вниманию широкий 
							ассортимент сопутствующих товаров:
					.list-block.light-gray-theme
						.container-xs
							//- Variable
							-
								var items = [
									{
										num: "1.",
										text: "Чаши, зажигалки, и разного рода угли"
									},
									{							
										num: "2.",
										text: "Разные трубки, а еще любые мундштуки"
									},
									{				
										num: "3.",
										text: "Ёршики, фольга и многое другое"
									}
								];
							ul.info-list.wrapper
								each item in items
									li.info-list__item.js-hover
										span.info-list__item__num #{item.num}
										.info-list__item__wrapper
											span.info-list__item__description #{item.text}
					.container-xs
						p.
							Все те сменные детали, которых так иногда не хватает, а за ними бегать по 
							магазинам нет особого желания.
						p.
							Наш интернет-магазин не ограничен площадью. Зато здесь есть удобная система 
							навигации, где можно найти всю информацию о товаре, сравнить все Вам 
							понравившиеся вещи, почитать отзывы покупателей, при необходимости также 
							связаться с менеджером для уточнения деталей. И все это без толпы в 
							помещении и очереди в кассу!
						img.img-fluid(src="src/image/about/about.jpg" alt=header_menu_active)/
						h2.color-black Почему мы лучшие
						p.
							У нас вы можете спокойно выбрать продукцию тогда, когда вам удобно, 
							сомневаясь столько времени, сколько посчитаете нужным, не подвергаясь 
							«назойливому вниманию» со стороны продавцов. Но главное – в любое время 
							суток, не выходя из дома, вы можете купить интересующий вас кальян, за более 
							доступную цену. 
						blockquote: p.
							Благодаря тому, что мы уже пять лет работаем на рынке и нашли 
							прямых поставщиков проверенной продукции, мы можем 
							значительно снизить цены!
						p.
							Мы постарались максимально упростить процесс приобретения товаров, сведя 
							обязанности клиента к минимуму. 
						p.
							Вам достаточно только выбрать продукцию и получить ее по указанному адресу. 
							То есть не потребуется обходить все специализирующиеся магазины города – 
							кальян принесут вам домой. Наш интернет - магазин унесет вас в страну 
							ароматов, изысканных сладостей и восточных сказок! 

		//- Features
		include ../partials/s-features.pug
		//- Bottom content
		include ../partials/bottom_content.pug

		include ../partials/common/footer.pug			
		include ../partials/common/js.pug
		script.
			var infoSwiper = new Swiper('.info-swiper-container', {
				loop: true,
				speed: 700,
				slidesPerView: 1.4,
				spaceBetween: 6,
				centeredSlides: true,
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev'
				},
			});