//- Variables
- var header_menu_active = "Полезные статьи";
- var pagetitle = "Где купить кальян у нас на сайте";
- var subtitle = "Где купить хороший кальян";

doctype html
html(lang="ru")
	head
		include ../partials/common/head.pug
	body
		include ../partials/common/header.pug

		#information-information
			.page-heading.gray-theme
				.container_fix.text-center
					ul.breadcrumb
						li: a(href=base_url) #{home_title}
						li: a(href="articles.html") #{header_menu_active}
						li: span #{pagetitle}
					h1.color-black #{pagetitle}
			//- Content
			#content.article_content
				.page-introtext.text-center
					.container-xs
						h2.color-black #{subtitle}
						p: b.
							Наш интернет-магазин дает возможность купить качественные, оригинальные 
							кальяны в Москве и в других городах по доступной цене. Мы предлагаем 
							кальяны на любой вкус, в качестве сувенира и многое-многое другое.
				.container_fix
					img.img-responsive(src="src/image/articles/article.jpg" alt=`${pagetitle}`)/
				.page-content
					.container-xs
						p.
							Мы дорожим доверием наших клиентов и поэтому тщательно проверяем все 
							кальяны на брак. Покупая кальян в нашем интернет-магазине, Вы гарантировано 
							получите товар высшего качества. 
						p.
							Сегодня кальян популярен не только как приспособление для курения, но и как 
							сувенир, а также предмет, который создает атмосферу в помещении. 
						blockquote: p.
							Спрос на кальяны в Москве не бывало вырос за последние годы и 
							желающих его приобрести становится всё больше. Поэтому и 
							количество магазинов, которые продают этот предмет роскоши и 
							аксессуары к нему, растет. 
						p.
							Тем не менее, не каждый магазин может похвастаться качеством продаваемого 
							изделия, чаще всего это дешевые китайские подделки, которые пытаются 
							продать по заоблачным ценам. 
						p.
							Аксессуары к кальяну играют не менее важную роль, чем сам кальян. И если Вы 
							собираетесь приобрести аксессуары «по дешевке» в каком-нибудь сомнительном 
							магазинчике – это может стоить Вам здоровья. Поэтому. если Вам надо купить 
							кальян хорошего качества, закажите его в нашем интернет-магазине.
						h2.color-black Где приобрести табак и уголь для кальяна
						p Наш магазин предлагает широкий ассортимент кальянов:
					.list-block.light-gray-theme
						.container-xs
							//- Variable
							-
								var items = [
									"Кальяны для повседневного использования;",
									"Кальяны с изысканным дизайном;",
									"Кальяны с восточной росписью и многое другое."
								];
							ul.article-list.wrapper
								each item in items
									li.article-list-item
										span.article-list-item__title #{item}
					.container-xs
						p.
							Такой подарок можно подарить шефу, партнеру по бизнесу или просто другу. 
							Здесь Вы сможете подобрать для себя эксклюзивную модель за приемлемую для 
							Вас цену и вдобавок купить уголь для кальяна или табак.
						h3.color-black Популярностью у наших заказчиков пользуются
						ul.article-pop-list.wrapper
							li.article-pop-list-item
								.article-pop-list-item__img
									a(href="product.html"): img.img-responsive(src="src/image/articles/pop-product.jpg" alt="Кокосовый уголь")/
								h5.article-pop-list-item__name.color-black Кокосовый уголь для кальяна (Black)
								span.article-pop-list-item__availability В наличии
								span.article-pop-list-item__price.bold.color-black 320 р.
							li.article-pop-list-item
								span.article-pop-list-item__description.
									Высококачественный табак для кальяна,
									родом из США. Всего насчитывается
									порядка 80 различных вкусов. Табак
									достаточно долго прогревается (около часа),
									но, не смотря на это, сохраняет высокую
									плотность дыма и все свои вкусовые
									особенности.
						p.
							Обычно все стараются покупать кальяны за границей, там, где он не является 
							сувениром, но если в ближайшее время пересекать границы России Вы не 
							собираетесь, а покурить по-восточному хочется, что ж, закажите кальян в нашем 
							интернет-магазине. Мы гарантируем качество любой нашей продукции.
						p.
							Приготовлению кальяна нигде не нужно учиться, это так 
							же просто, как приготовлении яичницы, а нежный и мягкий запах дыма создаст атмосферу 
							покоя и даже может поднять настроение.

		//- Features
		include ../partials/s-features.pug

		include ../partials/common/footer.pug			
		include ../partials/common/js.pug