//- Variables
- var header_menu_active = "";
- var account_menu_active = "Изменить мой пароль";
- var pagetitle = "Личный кабинет";

doctype html
html(lang="ru")
	head
		include ../partials/common/head.pug
	body
		include ../partials/common/header.pug

		#account-password
			.page-heading.gray-theme
				.container_fix.text-center
					ul.breadcrumb
						li: a(href=base_url) #{home_title}
						li: span #{pagetitle}
					h1.color-black #{pagetitle}
			//- Content
			#content.password_content
				section.s-password
					.container_fix
						.row
							.col_1-4
								//- Account menu
								include ../partials/account-menu.pug
							.col_3-4
								h2.color-black #{account_menu_active}
								.panel-head.gray-theme
									h4 Ваш пароль
								.form__body
									form.edit__form(action="" method="post" enctype="multipart/form-data")
										.edit__form__inner
											.fieldset
												.form-field.js-lock-field.required
													input.form-control#input-password(type="password" name="password" value="" placeholder="Текущий пароль" required="")/
													a.form-field__icon.text-center(href="javascript:void(0);")
														span.icon.icon-lock.relative.opacity-transition
												.form-field.js-lock-field.required
													input.form-control#input-confirm(type="password" name="confirm" value="" placeholder="Повторите текущий пароль" required="")/
													a.form-field__icon.text-center(href="javascript:void(0);")
														span.icon.icon-lock.relative.opacity-transition
												.form-field.js-lock-field.required
													input.form-control#input-new-password(type="new-password" name="password" value="" placeholder="Новый пароль" required="")/
													a.form-field__icon.text-center(href="javascript:void(0);")
														span.icon.icon-lock.relative.opacity-transition
												.form-field.js-lock-field.required
													input.form-control#input-new-confirm(type="password" name="new-confirm" value="" placeholder="Повторите новый пароль" required="")/
													a.form-field__icon.text-center(href="javascript:void(0);")
														span.icon.icon-lock.relative.opacity-transition
											.form-buttons
												input.btn.btn-lg.btn-primary(type="submit" value="Сохранить изменения" class="btn btn-primary")/

		//- Features
		include ../partials/s-features.pug
		//- Bottom content
		include ../partials/bottom_content.pug

		include ../partials/common/footer.pug			
		include ../partials/common/js.pug